# Laravel
/vendor
/node_modules
.phpunit.cache
.env
.env.backup
.env.production
/storage/*.key
/public/storage

# Vite/Mix build temporários
/public/hot
/public/build

# Logs e cache
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

